.hero-title span {
    /* zone de dégradé plus large que la boîte de texte elle-même,
        pour couvrir le débord provoqué par l'italique */
    background: linear-gradient(
    90deg,
    #ffd803 -10%,
    #fc5f5f 20%,
    #4facfe 50%,
    #43e6c4 75%,
    #ff6ec4 115%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 0.5em;

}